<h1>Welcome to Vidhya's App!</h1>
<p>Hello <%= @expense.expreport.user.name %>,</p>
<p>This is an automatic email triggered when an expense in approved or rejected!</p>
<p>The status of your expense is:<%= @expense.status %> for RS.<%= @expense.amount %></p>
<p>Thank you,</p>
<p>The System</p>